.custom-slider {
    width: 150px;
}


.sub-menu {
    min-height: 90px !important;
    padding-top: 20px;
}

.simulation-not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: #540081;
}
