
    <mat-toolbar class="sub-menu">
        <mat-form-field>
            <mat-label>{{ 'SELECT_DATE' | translate }}</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate" [min]="minDate" [max]="maxDate">
            <mat-datepicker #datepicker/>
            <mat-datepicker-toggle [for]="datepicker" matSuffix/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'SELECT_TIME_SIMULATION' | translate }}</mat-label>
            <input matInput [matTimepicker]="timepicker" [(ngModel)]="selectedDate" [ngModelOptions]="{updateOn: 'blur'}">
            <mat-timepicker #timepicker/>
            <mat-timepicker-toggle [for]="timepicker" matSuffix/>
        </mat-form-field>
        <button mat-icon-button matTooltip="{{ 'RESET_VALUES' | translate}}" color="primary" (click)="resetToRealValues()">
            <mat-icon>undo</mat-icon>
        </button>
    </mat-toolbar>

    <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding: 16px;">
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ 'Carbon_gen' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-slider class="custom-slider" [displayWith]="formatThumbLabel"
                            [min]="minSliderValue"
                            [max]="maxSliderValue"
                            [step]="step" thumbLabel>
                    <input matSliderThumb #val [(ngModel)]="energyDataToSimulate.Carbon_gen">
                </mat-slider>
                <mat-card-footer>
                    <mat-card-subtitle fxLayoutAlign="center center" class="mat-primary">{{ energyDataToSimulate.Carbon_gen | number:'1.2-2' }}  MW</mat-card-subtitle>
                    <p></p>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{ 'REAL_VALUE' | translate}}: {{ energyDataRealValue.Carbon_gen | number:'1.2-2' }} MW</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><h4>{{ 'ESTIMATED_EMISSIONS' | translate}}: {{ energyDataSimulatedValue.Carbon_emi_pred | number:'1.2-2' }} tCO<sub>2</sub> eq.</h4></mat-card-subtitle>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ 'Ciclo_combinado_gen' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-slider class="custom-slider" [displayWith]="formatThumbLabel"
                            [min]="minSliderValue"
                            [max]="maxSliderValue"
                            [step]="step" thumbLabel>
                    <input matSliderThumb #val [(ngModel)]="energyDataToSimulate.Ciclo_combinado_gen">
                </mat-slider>
                <mat-card-footer>
                    <mat-card-subtitle fxLayoutAlign="center center" class="mat-primary">{{ energyDataToSimulate.Ciclo_combinado_gen | number:'1.2-2' }}  MW</mat-card-subtitle>
                    <p></p>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{ 'REAL_VALUE' | translate}}: {{ energyDataRealValue.Ciclo_combinado_gen | number:'1.2-2' }} MW</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><h4>{{ 'ESTIMATED_EMISSIONS' | translate}}: {{ energyDataSimulatedValue.Ciclo_combinado_emi_pred | number:'1.2-2' }} tCO<sub>2</sub> eq.</h4></mat-card-subtitle>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ 'Cogeneracion_y_residuos_gen' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-slider class="custom-slider" [displayWith]="formatThumbLabel"
                            [min]="minSliderValue"
                            [max]="maxSliderValue"
                            [step]="step" thumbLabel>
                    <input matSliderThumb #val [(ngModel)]="energyDataToSimulate.Cogeneracion_y_residuos_gen">
                </mat-slider>
                <mat-card-footer>
                    <mat-card-subtitle fxLayoutAlign="center center" class="mat-primary">{{ energyDataToSimulate.Cogeneracion_y_residuos_gen | number:'1.2-2' }}  MW</mat-card-subtitle>
                    <p></p>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{ 'REAL_VALUE' | translate}}: {{ energyDataRealValue.Cogeneracion_y_residuos_gen | number:'1.2-2' }} MW</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><h4>{{ 'ESTIMATED_EMISSIONS' | translate}}: {{ energyDataSimulatedValue.Cogeneracion_y_residuos_emi_pred | number:'1.2-2' }} tCO<sub>2</sub> eq.</h4></mat-card-subtitle>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ 'Motores_diesel_gen' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-slider class="custom-slider" [displayWith]="formatThumbLabel"
                            [min]="minSliderValue"
                            [max]="maxSliderValue"
                            [step]="step" thumbLabel>
                    <input matSliderThumb #val [(ngModel)]="energyDataToSimulate.Motores_diesel_gen">
                </mat-slider>
                <mat-card-footer>
                    <mat-card-subtitle fxLayoutAlign="center center" class="mat-primary">{{ energyDataToSimulate.Motores_diesel_gen | number:'1.2-2' }}  MW</mat-card-subtitle>
                    <p></p>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{ 'REAL_VALUE' | translate}}: {{ energyDataRealValue.Motores_diesel_gen | number:'1.2-2' }} MW</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><h4>{{ 'ESTIMATED_EMISSIONS' | translate}}: {{ energyDataSimulatedValue.Motores_diesel_emi_pred | number:'1.2-2' }} tCO<sub>2</sub> eq.</h4></mat-card-subtitle>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ 'Turbina_de_gas_gen' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-slider class="custom-slider" [displayWith]="formatThumbLabel"
                            [min]="minSliderValue"
                            [max]="maxSliderValue"
                            [step]="step" thumbLabel>
                    <input matSliderThumb #val [(ngModel)]="energyDataToSimulate.Turbina_de_gas_gen">
                </mat-slider>
                <mat-card-footer>
                    <mat-card-subtitle fxLayoutAlign="center center" class="mat-primary">{{ energyDataToSimulate.Turbina_de_gas_gen | number:'1.2-2' }}  MW</mat-card-subtitle>
                    <p></p>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{ 'REAL_VALUE' | translate}}: {{ energyDataRealValue.Turbina_de_gas_gen | number:'1.2-2' }} MW</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><h4>{{ 'ESTIMATED_EMISSIONS' | translate}}: {{ energyDataSimulatedValue.Turbina_de_gas_emi_pred | number:'1.2-2' }} tCO<sub>2</sub> eq.</h4></mat-card-subtitle>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ 'Turbina_de_vapor_gen' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-slider class="custom-slider" [displayWith]="formatThumbLabel"
                            [min]="minSliderValue"
                            [max]="maxSliderValue"
                            [step]="step" thumbLabel>
                    <input matSliderThumb #val [(ngModel)]="energyDataToSimulate.Turbina_de_vapor_gen">
                </mat-slider>
                <mat-card-footer>
                    <mat-card-subtitle fxLayoutAlign="center center" class="mat-primary">{{ energyDataToSimulate.Turbina_de_vapor_gen | number:'1.2-2' }}  MW</mat-card-subtitle>
                    <p></p>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{ 'REAL_VALUE' | translate}}: {{ energyDataRealValue.Turbina_de_vapor_gen | number:'1.2-2' }} MW</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle><h4>{{ 'ESTIMATED_EMISSIONS' | translate}}: {{ energyDataSimulatedValue.Turbina_de_vapor_emi_pred | number:'1.2-2' }} tCO<sub>2</sub> eq.</h4></mat-card-subtitle>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-container *ngIf="dataNoAvailable">
        <label class="mat-h5 mat-body-strong simulation-not-available">{{ 'SIMULATION_NOT_AVAILABLE'  | translate }} </label>
    </ng-container>
    <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding: 16px;">
        <div *ngIf="showProgressBar" style="width: 100%">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding: 16px;">
        <button mat-fab extended (click)="simulateEnergyData()"><mat-icon>update</mat-icon>{{ 'SIMULATE'| translate }}</button>
    </div>
